body {
    color: var(--main-text-color);
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    background-color: var(--light-color);
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: var(--main-color);
}

.passTd {
    min-width: 210px;
}

.contentDiv {
    position: relative;
    width: 50%;
    margin: auto;
}

#addPassDiv {
    position: fixed;
    top: 20%;
    left: 35%;
    width: 350px;
    height: 180px;
    background-color: var(--main-color);
    border: solid;
    border-color: var(--main-text-color);
    visibility: hidden;
}

#menuDiv {
    position: fixed;
    left: 0;
    top: 50px;
    margin: 20px;
}